.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height to center vertically */
  text-align: center;
}
.home-title {
  color: #5b867f;
}
body.dark-mode .home-title {
  color: #84dccf;
}

body.dark-mode .home-game {
  background-color: #ffffff;
  color: black;
}
body.dark-mode .home-gold {
  color: rgb(206, 206, 206);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f3f4f6; /* Light background for contrast */
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.clicker-game,
.riddle-game {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #4a90e2; /* Primary color for borders */
  border-radius: 10px;
  background-color: #ffffff; /* White background for game area */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

.clicker,
.riddle {
  color: #333333; /* Dark text for headings */
  font-size: 1.5em;
  margin-bottom: 15px;
}

.hit {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2; /* Button background color */
  color: white; /* Button text color */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hit:hover {
  background-color: #357ab8; /* Darker shade on hover */
}

.label {
  display: block;
  margin: 10px 0;
  font-size: 1em;
  color: #555555; /* Slightly lighter text color for options */
}

.input {
  margin-right: 10px; /* Space between radio and label */
}

.submit {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2; /* Button background color for submit */
  color: white; /* Button text color for submit */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Space above the submit button */
}

.submit:hover {
  background-color: #357ab8; /* Darker shade on hover for submit button */
}

p {
  font-size: 1.2em;
  color: #4a90e2; /* Click count text color */
  margin-top: 10px;
}
